/* #topic1,#topic2{
    width: 90%
} */
#links{
    float:right;
    color: gray;
    cursor: pointer;
    width: 80px;
}

#ques{
    font-weight: bold;
}

#ans{
    color:#175fa9;
}

.item + .item {
    margin-top: 11px;
  }
  
  .question {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 93%
  }
  
  .answer {
     display: none;
     font-size: 85%
  }
  
  .open .answer {
    display: block;
    font-family: Arial;
  }

  #container {
    margin: auto;
    width: 800px;
}

#content {
    float: left;
    width: 700px;
    margin-left: -100px;
    font-family: Arial;
}
#content:after {
    content: "";
    background-color: grey;
    position: absolute;
    width: 1px;
    height: 100px;
    top: 6px;
    left: 120%;
    display: block;
  }

#clear {
    clear: both;
}