.btn-next{
    margin-left:500px;
}
/* 
.pagination-nav__item--next{
    margin-left:500px;
    top:-150px;
    cursor: pointer;
  } */

  #prev{
      float:left;
      border-radius: 25px;
    border: 2px solid #a020f0;
    padding: 20px; 
    width: 300px;
    height: 100px;  
    cursor: pointer;
  }
  #next{
    float: right;
    border-radius: 25px;
    border: 2px solid #a020f0;
    padding: 20px; 
    width: 300px;
    height: 100px;  
    cursor: pointer;
  }

  #contentnext{
      float: right;
  }
